<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center f-info">
    <div class="f-info-socials mb-2">
      <a href="#" class="mx-2 text-dark"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
      <a href="#" class="mx-2 text-dark"><i class="fa-brands fa-instagram fa-lg"></i></a>
      <a href="#" class="mx-2 text-dark"><i class="fa-brands fa-linkedin fa-lg"></i></a>
    </div>

    <div class="f-info-brand mb-1">&copy; 2025 Wanderlust Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy" class="mx-2 text-decoration-none text-muted">Privacy</a>
      <a href="/terms" class="mx-2 text-decoration-none text-muted">Terms</a>
    </div>
  </div>
</footer>
